.flex-container {
  border: 2px solid #333;
  padding: 10px;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  border: 1px solid chocolate;
  margin: 5px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  width: 250px;
}

#child-1 {
  background-color: blue;
  
}

.child-2 {
  background-color: green;
}

.child-3 {
  background-color: rebeccapurple;
}

.child-4 {
  background-color: purple;
}
